# Prepare

-----------------------

In [1]:
from geoband.API import *

import math
from tqdm import tqdm
import random
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import folium
import json
import geopandas as gpd
import geopy.distance

import pydeck as pdk
import shapely
import shapefile
import os
import re
import mapboxgl
from mapboxgl.viz import *
import seaborn as sns

import platform
import requests; from urllib.parse import urlparse

import warnings
warnings.filterwarnings(action='ignore')  #경고 메시지 무시
from IPython.display import display      #print가 아닌 display()로 연속 출력

In [2]:
GetCompasData('SBJ_2102_003', '1', '1.대전광역시_교통사고내역(2017~2019).csv')
GetCompasData('SBJ_2102_003', '2', '2.대전광역시_교통사고격자(2017~2019).geojson')
GetCompasData('SBJ_2102_003', '3', '3.대전광역시_신호등(보행등).geojson')
GetCompasData('SBJ_2102_003', '4', '4.대전광역시_신호등(차량등).geojson')
GetCompasData('SBJ_2102_003', '5', '5.대전광역시_안전지대.geojson')
GetCompasData('SBJ_2102_003', '6', '6.대전광역시_횡단보도.geojson')
GetCompasData('SBJ_2102_003', '7', '7.대전광역시_도로속도표시.geojson')
GetCompasData('SBJ_2102_003', '8', '8.대전광역시_정차금지지대.geojson')
GetCompasData('SBJ_2102_003', '9', '9.대전광역시_교통안전표지.geojson')
GetCompasData('SBJ_2102_003', '10', '10.대전광역시_교통CCTV.geojson')
GetCompasData('SBJ_2102_003', '11', '11.대전광역시_동별_인구현황(2017~2019).csv')
GetCompasData('SBJ_2102_003', '12', '12.대전광역시_인구정보(총인구).geojson')
GetCompasData('SBJ_2102_003', '13', '13.대전광역시_인구정보(고령).geojson')
GetCompasData('SBJ_2102_003', '14', '14.대전광역시_인구정보(생산가능).geojson')
GetCompasData('SBJ_2102_003', '15', '15.대전광역시_인구정보(유소년).geojson')
GetCompasData('SBJ_2102_003', '16', '16.대전광역시_기상데이터(2017~2019).csv')
GetCompasData('SBJ_2102_003', '17', '17.대전광역시_교통링크(2018).geojson')
GetCompasData('SBJ_2102_003', '18', '18.대전광역시_교통노드(2018).geojson')
GetCompasData('SBJ_2102_003', '19', '19.대전광역시_상세도로망(2018).geojson')
GetCompasData('SBJ_2102_003', '20', '20.대전광역시_평일_일별_시간대별_추정교통량(2018).csv')
GetCompasData('SBJ_2102_003', '21', '21.대전광역시_평일_일별_혼잡빈도강도(2018).csv')
GetCompasData('SBJ_2102_003', '22', '22.대전광역시_평일_일별_혼잡시간강도(2018).csv')
GetCompasData('SBJ_2102_003', '23', '23.대전광역시_도로명주소(건물).geojson')
GetCompasData('SBJ_2102_003', '24', '24.대전광역시_건물연면적_격자.geojson')
GetCompasData('SBJ_2102_003', '25', '25.대전광역시_법정경계(시군구).geojson')
GetCompasData('SBJ_2102_003', '26', '26.대전광역시_법정경계(읍면동).geojson')
GetCompasData('SBJ_2102_003', '27', '27.대전광역시_행정경계(읍면동).geojson')
GetCompasData('SBJ_2102_003', '28', '28.대전광역시_연속지적도.geojson')
GetCompasData('SBJ_2102_003', '29', '29.코드정의서.xlsx')
GetCompasData('SBJ_2102_003', '30', '30.대전광역시_차량등록현황_격자.geojson')
GetCompasData('SBJ_2102_003', '31', '31.대전시_중앙분리대.geojson')

In [3]:
acc_hist = pd.read_csv('1.대전광역시_교통사고내역(2017~2019).csv')
acc_cnt = gpd.read_file('2.대전광역시_교통사고격자(2017~2019).geojson')
trlight_pas = gpd.read_file('3.대전광역시_신호등(보행등).geojson')
trlight_car = gpd.read_file('4.대전광역시_신호등(차량등).geojson')
safe_zone = gpd.read_file('5.대전광역시_안전지대.geojson')
crosswalk = gpd.read_file('6.대전광역시_횡단보도.geojson')
sign_speed = gpd.read_file('7.대전광역시_도로속도표시.geojson')
noparking_zone = gpd.read_file('8.대전광역시_정차금지지대.geojson')
sign_traffic = gpd.read_file('9.대전광역시_교통안전표지.geojson')
cctv = gpd.read_file('10.대전광역시_교통CCTV.geojson')
pop_dong = pd.read_csv('11.대전광역시_동별_인구현황(2017~2019).csv')
pop_all = gpd.read_file('12.대전광역시_인구정보(총인구).geojson')
pop_sen = gpd.read_file('13.대전광역시_인구정보(고령).geojson')
pop_prd = gpd.read_file('14.대전광역시_인구정보(생산가능).geojson')
pop_chd = gpd.read_file('15.대전광역시_인구정보(유소년).geojson')
weather = pd.read_csv('16.대전광역시_기상데이터(2017~2019).csv')
traffic_link = gpd.read_file('17.대전광역시_교통링크(2018).geojson')
traffic_node = gpd.read_file('18.대전광역시_교통노드(2018).geojson')
traffic_road = gpd.read_file('19.대전광역시_상세도로망(2018).geojson')
traffic_amt = pd.read_csv('20.대전광역시_평일_일별_시간대별_추정교통량(2018).csv')
traffic_freq = pd.read_csv('21.대전광역시_평일_일별_혼잡빈도강도(2018).csv')
traffic_time = pd.read_csv('22.대전광역시_평일_일별_혼잡시간강도(2018).csv')
building = gpd.read_file('23.대전광역시_도로명주소(건물).geojson')
building_area = gpd.read_file('24.대전광역시_건물연면적_격자.geojson')
bound_law = gpd.read_file('25.대전광역시_법정경계(시군구).geojson')
bound_law2 = gpd.read_file('26.대전광역시_법정경계(읍면동).geojson')
bound_adm = gpd.read_file('27.대전광역시_행정경계(읍면동).geojson')
daejeon = gpd.read_file('28.대전광역시_연속지적도.geojson')
car = gpd.read_file('30.대전광역시_차량등록현황_격자.geojson')
median_strip = gpd.read_file('31.대전시_중앙분리대.geojson')

------------------

# 중복 및 누락된 사고데이터 처리

    1. 한 사고가 여러번 카운트된 사고데이터
    2. cnt에만 기록된 사고데이터
    3. 여러 격자에 중복처리된 사고데이터
    
    > 통합 및 저장

---------------------

## 1. 한 사고가 여러번 카운트된 사고데이터

In [4]:
#중복신고로 보이는 acc_hist.iloc[ [20208,20209] ] 중 하나 삭제

acc_hist.drop(20208, inplace=True)
acc_hist.index = range(len(acc_hist))

#acc_cnt에서의 카운트 hist와 동일하게 변경hist와 동일하게 변경

acc_cnt.loc[acc_cnt['gid'] == '다바836140', 'acci_cnt'] = 2

## 2. cnt에만 기록된 사고데이터

In [5]:
acc_cnt[acc_cnt['gid'] == '다바935288'].geometry.centroid

#금강교 근방, taas에 centroid 좌표를 찍어보면 1건이 존재함.
acc_hist = acc_hist.append({'사고일': '2018-10-20', '시군구': '대전광역시 대덕구 신탄진동','사고유형':'차대차 - 기타', '법규위반':'안전운전불이행','사고내용':'경상사고', '사망자수': 0, '중상자수': 0, '경상자수':1, '부상신고자수':0, '가해운전자 차종': '승용', '가해운전자 연령대': '50대', '가해운전자 성별': '여', '피해운전자 차종': '이륜', '피해운전자 연령대': '80대', '피해운전자 성별':'남', 'gid': '다바935288'}, ignore_index=True)

In [6]:
acc_cnt[acc_cnt['gid'] == '다바983036'].geometry.centroid

#마달터널 근방, taas에 centroid 좌표를 찍어보면 2건이 존재함.
acc_hist = acc_hist.append({'사고일': '2017-11-19', '시군구': '대전광역시 동구 삼괴동','사고유형':'차대차 - 추돌', '법규위반':'안전운전불이행','사고내용':'경상사고', '사망자수': 0, '중상자수': 0, '경상자수':2, '부상신고자수':0, '가해운전자 차종': '승용', '가해운전자 연령대': '50대', '가해운전자 성별': '여', '피해운전자 차종': '승합', '피해운전자 연령대': '40대', '피해운전자 성별':'남', 'gid': '다바983036'}, ignore_index=True)
acc_hist = acc_hist.append({'사고일': '2019-02-01', '시군구': '대전광역시 동구 삼괴동','사고유형':'차대차 - 추돌', '법규위반':'안전운전불이행','사고내용':'경상사고', '사망자수': 0, '중상자수': 0, '경상자수':1, '부상신고자수':0, '가해운전자 차종': '화물', '가해운전자 연령대': '50대', '가해운전자 성별': '여', '피해운전자 차종': '승용', '피해운전자 연령대': '40대', '피해운전자 성별':'여', 'gid': '다바983036'}, ignore_index=True)

## 3. 여러 격자에 중복처리된 사고데이터

### 첫번째 사고

In [7]:
gids = list(acc_hist.iloc[[19663,19664,19665,19666]]['gid'].values)

In [8]:
coords = []
for i in range(len(gids)):
    y = float(acc_cnt[acc_cnt['gid'] == gids[i]].geometry.centroid.x)
    x = float(acc_cnt[acc_cnt['gid'] == gids[i]].geometry.centroid.y)
    coords.append((x,y))
    
coords

[(36.358840907883305, 127.32221992179625),
 (36.35974078009695, 127.32110325483173),
 (36.359742443725196, 127.32221787143722),
 (36.35883924430955, 127.32110531804548)]

In [9]:
coords_1 = (36.35922338996591, 127.3216659709028)
# taas에 해당 사고 정보를 입력해 위치를 알아내었다.

In [10]:
for i in range(len(coords)):
    print(geopy.distance.vincenty(coords_1, coords[i]).m)
#가장 가까운 거리 값은 gids[0]

gids[0]

65.3706563426535
76.46558114972898
75.96779200011991
65.94848330380215

'다바840179'

In [11]:
# 해당 격자의 cnt 수정 후 나머지 격자의 데이터 삭제

acc_cnt.loc[acc_cnt['gid'] == '다바840179', 'acci_cnt'] = 1

acc_hist.drop([19664,19665,19666],inplace=True)

### 두번째 사고

In [12]:
gids_1 = list(acc_hist.iloc[[15341,15342,15343,15344]]['gid'].values)

In [13]:
coordss = []
for i in range(len(gids)):
    y = float(acc_cnt[acc_cnt['gid'] == gids[i]].geometry.centroid.x)
    x = float(acc_cnt[acc_cnt['gid'] == gids[i]].geometry.centroid.y)
    coordss.append((x,y))

In [14]:
coordss

[(36.358840907883305, 127.32221992179625),
 (36.35974078009695, 127.32110325483173),
 (36.359742443725196, 127.32221787143722),
 (36.35883924430955, 127.32110531804548)]

In [15]:
coords_2 = (36.34582705051254, 127.44540766537324)
# taas에 해당 사고 정보를 입력해 위치를 알아내었다.

In [16]:
for i in range(len(coordss)):
    print(geopy.distance.vincenty(coords_2, coordss[i]).m)
#가장 가까운 거리 값은 gids_1[0]

gids_1[0]

11151.343657775882
11263.92876771775
11164.858508862113
11250.532927118911

'다바950164'

In [17]:
# 해당 격자의 cnt 수정 후 나머지 격자의 데이터 삭제

acc_cnt.loc[acc_cnt['gid'] == '다바950164', 'acci_cnt'] = 5

acc_hist.drop([15342,15343,15344],inplace=True)

## > 통합 및 저장

In [18]:
acc_cnt.to_file('acc_cnt_mod.geojson', driver='GeoJSON')
acc_hist.to_csv('acc_hist_mod.csv')

------------------

# 격자별 사고 데이터 범주화

    1. 피해자유형
    2. 사고유형
    3. 연령대별
        3-1. 가해자
        3-2. 피해자
    
    > 통합 및 저장
    
-------------------

## 1. 피해자유형

#### 1-1. 피해자유형(전체)

In [19]:
#사망사고
fatal_acc = acc_hist.loc[acc_hist['사고내용'] == '사망사고'].groupby('gid').count()[['사고일']]
fatal_acc.reset_index(level=['gid'], inplace = True)
fatal_acc.rename({'사고일':'dead'},inplace=True,axis='columns')
type_of_accident = pd.merge(acc_cnt,fatal_acc, how='left',on='gid')
type_of_accident.fillna(0, inplace=True)

In [20]:
#중상사고
serious_acc = acc_hist.loc[acc_hist['사고내용'] == '중상사고'].groupby('gid').count()[['사고일']]
serious_acc.reset_index(level=['gid'], inplace = True)
serious_acc.rename({'사고일':'serious'},inplace=True,axis='columns')
type_of_accident = pd.merge(type_of_accident,serious_acc, how='left',on='gid')
type_of_accident.fillna(0, inplace=True)

In [21]:
#경상사고
minor_acc = acc_hist.loc[acc_hist['사고내용'] == '경상사고'].groupby('gid').count()[['사고일']]
minor_acc.reset_index(level=['gid'], inplace = True)
minor_acc.rename({'사고일':'minor'},inplace=True,axis='columns')
type_of_accident = pd.merge(type_of_accident,minor_acc, how='left',on='gid')
type_of_accident.fillna(0, inplace=True)

In [22]:
#부상신고사고
injury_acc = acc_hist.loc[acc_hist['사고내용'] == '부상신고사고'].groupby('gid').count()[['사고일']]
injury_acc.reset_index(level=['gid'], inplace = True)
injury_acc.rename({'사고일':'injury'},inplace=True,axis='columns')
type_of_accident = pd.merge(type_of_accident,injury_acc, how='left',on='gid')
type_of_accident.fillna(0, inplace=True)

#### 1-2. 피해자유형(사교유형별)

In [23]:
# 세분화된 사고유형을 '차대차', '차대사람', '차량단독' 세가지로 범주화

acc_hist['사고유형'] = acc_hist['사고유형'].apply(lambda x: x.split()[0])

acc_hist.사고유형.unique()

array(['차대차', '차대사람', '차량단독', '대사람', '대차'], dtype=object)

In [24]:
# < 차대차 사고 >

#사망사고
fatal_acc = acc_hist.loc[(acc_hist['사고내용'] == '사망사고') & (acc_hist['사고유형'] == '차대차')].groupby('gid').count()[['사고일']]
fatal_acc.reset_index(level=['gid'], inplace = True)
fatal_acc.rename({'사고일':'dead_ctc'},inplace=True,axis='columns')
type_of_accident = pd.merge(type_of_accident,fatal_acc, how='left',on='gid')
type_of_accident.fillna(0, inplace=True)

#중상사고
serious_acc = acc_hist.loc[(acc_hist['사고내용'] == '중상사고') & (acc_hist['사고유형'] == '차대차')].groupby('gid').count()[['사고일']]
serious_acc.reset_index(level=['gid'], inplace = True)
serious_acc.rename({'사고일':'serious_ctc'},inplace=True,axis='columns')
type_of_accident = pd.merge(type_of_accident,serious_acc, how='left',on='gid')
type_of_accident.fillna(0, inplace=True)

#경상사고
minor_acc = acc_hist.loc[(acc_hist['사고내용'] == '경상사고') & (acc_hist['사고유형'] == '차대차')].groupby('gid').count()[['사고일']]
minor_acc.reset_index(level=['gid'], inplace = True)
minor_acc.rename({'사고일':'minor_ctc'},inplace=True,axis='columns')
type_of_accident = pd.merge(type_of_accident,minor_acc, how='left',on='gid')
type_of_accident.fillna(0, inplace=True)

#부상신고사고
injury_acc = acc_hist.loc[(acc_hist['사고내용'] == '부상신고사고') & (acc_hist['사고유형'] == '차대차')].groupby('gid').count()[['사고일']]
injury_acc.reset_index(level=['gid'], inplace = True)
injury_acc.rename({'사고일':'injury_ctc'},inplace=True,axis='columns')
type_of_accident = pd.merge(type_of_accident,injury_acc, how='left',on='gid')
type_of_accident.fillna(0, inplace=True)


# < 차대사람 사고 >

#사망사고
fatal_acc = acc_hist.loc[(acc_hist['사고내용'] == '사망사고') & (acc_hist['사고유형'] == '차대사람')].groupby('gid').count()[['사고일']]
fatal_acc.reset_index(level=['gid'], inplace = True)
fatal_acc.rename({'사고일':'dead_cth'},inplace=True,axis='columns')
type_of_accident = pd.merge(type_of_accident,fatal_acc, how='left',on='gid')
type_of_accident.fillna(0, inplace=True)

#중상사고
serious_acc = acc_hist.loc[(acc_hist['사고내용'] == '중상사고') & (acc_hist['사고유형'] == '차대사람')].groupby('gid').count()[['사고일']]
serious_acc.reset_index(level=['gid'], inplace = True)
serious_acc.rename({'사고일':'serious_cth'},inplace=True,axis='columns')
type_of_accident = pd.merge(type_of_accident,serious_acc, how='left',on='gid')
type_of_accident.fillna(0, inplace=True)

#경상사고
minor_acc = acc_hist.loc[(acc_hist['사고내용'] == '경상사고') & (acc_hist['사고유형'] == '차대사람')].groupby('gid').count()[['사고일']]
minor_acc.reset_index(level=['gid'], inplace = True)
minor_acc.rename({'사고일':'minor_cth'},inplace=True,axis='columns')
type_of_accident = pd.merge(type_of_accident,minor_acc, how='left',on='gid')
type_of_accident.fillna(0, inplace=True)

#부상신고사고
injury_acc = acc_hist.loc[(acc_hist['사고내용'] == '부상신고사고') & (acc_hist['사고유형'] == '차대사람')].groupby('gid').count()[['사고일']]
injury_acc.reset_index(level=['gid'], inplace = True)
injury_acc.rename({'사고일':'injury_cth'},inplace=True,axis='columns')
type_of_accident = pd.merge(type_of_accident,injury_acc, how='left',on='gid')
type_of_accident.fillna(0, inplace=True)


# < 차량단독 사고 >

#사망사고
fatal_acc = acc_hist.loc[(acc_hist['사고내용'] == '사망사고') & (acc_hist['사고유형'] == '차량단독')].groupby('gid').count()[['사고일']]
fatal_acc.reset_index(level=['gid'], inplace = True)
fatal_acc.rename({'사고일':'dead_cal'},inplace=True,axis='columns')
type_of_accident = pd.merge(type_of_accident,fatal_acc, how='left',on='gid')
type_of_accident.fillna(0, inplace=True)

#중상사고
serious_acc = acc_hist.loc[(acc_hist['사고내용'] == '중상사고') & (acc_hist['사고유형'] == '차량단독')].groupby('gid').count()[['사고일']]
serious_acc.reset_index(level=['gid'], inplace = True)
serious_acc.rename({'사고일':'serious_cal'},inplace=True,axis='columns')
type_of_accident = pd.merge(type_of_accident,serious_acc, how='left',on='gid')
type_of_accident.fillna(0, inplace=True)

#경상사고
minor_acc = acc_hist.loc[(acc_hist['사고내용'] == '경상사고') & (acc_hist['사고유형'] == '차량단독')].groupby('gid').count()[['사고일']]
minor_acc.reset_index(level=['gid'], inplace = True)
minor_acc.rename({'사고일':'minor_cal'},inplace=True,axis='columns')
type_of_accident = pd.merge(type_of_accident,minor_acc, how='left',on='gid')
type_of_accident.fillna(0, inplace=True)

#부상신고사고
injury_acc = acc_hist.loc[(acc_hist['사고내용'] == '부상신고사고') & (acc_hist['사고유형'] == '차량단독')].groupby('gid').count()[['사고일']]
injury_acc.reset_index(level=['gid'], inplace = True)
injury_acc.rename({'사고일':'injury_cal'},inplace=True,axis='columns')
type_of_accident = pd.merge(type_of_accident,injury_acc, how='left',on='gid')
type_of_accident.fillna(0, inplace=True)

In [25]:
type_of_accident.head()

,gid,acci_cnt,geometry,dead,serious,minor,injury,dead_ctc,serious_ctc,minor_ctc,injury_ctc,dead_cth,serious_cth,minor_cth,injury_cth,dead_cal,serious_cal,minor_cal,injury_cal
0,다바866110,0,"MULTIPOLYGON (((127.35076 36.29622, 127.35076 ...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,다바823157,0,"MULTIPOLYGON (((127.30277 36.33853, 127.30276 ...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,다바928260,0,"MULTIPOLYGON (((127.41967 36.43152, 127.41967 ...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,다바931203,2,"MULTIPOLYGON (((127.42307 36.38013, 127.42307 ...",0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,다바836109,0,"MULTIPOLYGON (((127.31735 36.29527, 127.31735 ...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## 2. 사고유형

In [26]:
# 세분화된 사고유형을 '차대차', '차대사람', '차량단독' 세가지로 범주화

#acc_hist['사고유형'] = acc_hist['사고유형'].apply(lambda x: x.split()[0])

#acc_hist.사고유형.unique()

In [27]:
#차대차
car_car = acc_hist.loc[acc_hist['사고유형'] == '차대차'].groupby('gid').count()[['사고일']]
car_car.reset_index(level=['gid'], inplace = True)
car_car.rename({'사고일':'car_car'},inplace=True,axis='columns')
type_of_accident = pd.merge(type_of_accident,car_car, how='left',on='gid')
type_of_accident.fillna(0, inplace=True)

In [28]:
#차대사람
car_human = acc_hist.loc[acc_hist['사고유형'] == '차대사람'].groupby('gid').count()[['사고일']]
car_human.reset_index(level=['gid'], inplace = True)
car_human.rename({'사고일':'car_human'},inplace=True,axis='columns')
type_of_accident = pd.merge(type_of_accident,car_human, how='left',on='gid')
type_of_accident.fillna(0, inplace=True)

In [29]:
#차량 단독
car_only = acc_hist.loc[acc_hist['사고유형'] == '차량단독'].groupby('gid').count()[['사고일']]
car_only.reset_index(level=['gid'], inplace = True)
car_only.rename({'사고일':'car_only'},inplace=True,axis='columns')
type_of_accident = pd.merge(type_of_accident,car_only, how='left',on='gid')
type_of_accident.fillna(0, inplace=True)

In [30]:
type_of_accident.head()

,gid,acci_cnt,geometry,dead,serious,minor,injury,dead_ctc,serious_ctc,minor_ctc,...,serious_cth,minor_cth,injury_cth,dead_cal,serious_cal,minor_cal,injury_cal,car_car,car_human,car_only
0,다바866110,0,"MULTIPOLYGON (((127.35076 36.29622, 127.35076 ...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,다바823157,0,"MULTIPOLYGON (((127.30277 36.33853, 127.30276 ...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,다바928260,0,"MULTIPOLYGON (((127.41967 36.43152, 127.41967 ...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,다바931203,2,"MULTIPOLYGON (((127.42307 36.38013, 127.42307 ...",0.0,1.0,1.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
4,다바836109,0,"MULTIPOLYGON (((127.31735 36.29527, 127.31735 ...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## 3. 연령대별 사고 건수 정리

### 3-1. 가해자연령대

In [31]:
def counting_by(df_cnt, df_hist, column, category, new_col):
    tmp = df_hist.loc[df_hist[f'{column}'] == f'{category}'].groupby('gid').count()[['사고일']]
    tmp.reset_index(level=['gid'], inplace = True)
    tmp.rename({'사고일':f'{new_col}'},inplace=True,axis='columns')
    df_cnt = pd.merge(df_cnt,tmp , how='left',on='gid')
    df_cnt.fillna(0, inplace=True)
    return df_cnt

In [32]:
acc_hist['가해운전자 연령대'].unique()

array(['50대', '30대', '80대', '70대', '60대', '20대', '미분류', '40대', '10대',
       '10대미만', '90대', '기타불명'], dtype=object)

In [33]:
#10대미만
attack_under_10 = acc_hist.loc[acc_hist['가해운전자 연령대'] == '10대미만'].groupby('gid').count()[['사고일']]
attack_under_10 .reset_index(level=['gid'], inplace = True)
attack_under_10 .rename({'사고일':'attack_under_10 '},inplace=True,axis='columns')
type_of_accident = pd.merge(type_of_accident,attack_under_10 , how='left',on='gid')
type_of_accident.fillna(0, inplace=True)

In [34]:
type_of_accident.describe()

,acci_cnt,dead,serious,minor,injury,dead_ctc,serious_ctc,minor_ctc,injury_ctc,dead_cth,...,minor_cth,injury_cth,dead_cal,serious_cal,minor_cal,injury_cal,car_car,car_human,car_only,attack_under_10
count,54912.000000,54912.000000,54912.000000,54912.000000,54912.000000,54912.000000,54912.000000,54912.000000,54912.000000,54912.000000,...,54912.000000,54912.000000,54912.000000,54912.000000,54912.000000,54912.000000,54912.000000,54912.000000,54912.000000,54912.000000
mean,0.430653,0.004553,0.100506,0.314376,0.011218,0.001512,0.064084,0.259397,0.007375,0.002313,...,0.048223,0.002950,0.000728,0.004553,0.006738,0.000892,0.332368,0.085337,0.012912,0.000164
std,2.204865,0.070750,0.569548,1.691382,0.117885,0.039776,0.430348,1.453141,0.093886,0.049896,...,0.481946,0.057178,0.026980,0.070492,0.088852,0.031055,1.830505,0.630375,0.129989,0.012801
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,63.000000,2.000000,15.000000,57.000000,3.000000,2.000000,15.000000,48.000000,3.000000,2.000000,...,49.000000,2.000000,1.000000,3.000000,3.000000,2.000000,55.000000,57.000000,4.000000,1.000000

In [35]:
#10대
type_of_accident = counting_by(type_of_accident, acc_hist, '가해운전자 연령대', '10대','attack_10')

In [36]:
type_of_accident.describe()

,acci_cnt,dead,serious,minor,injury,dead_ctc,serious_ctc,minor_ctc,injury_ctc,dead_cth,...,injury_cth,dead_cal,serious_cal,minor_cal,injury_cal,car_car,car_human,car_only,attack_under_10,attack_10
count,54912.000000,54912.000000,54912.000000,54912.000000,54912.000000,54912.000000,54912.000000,54912.000000,54912.000000,54912.000000,...,54912.000000,54912.000000,54912.000000,54912.000000,54912.000000,54912.000000,54912.000000,54912.000000,54912.000000,54912.000000
mean,0.430653,0.004553,0.100506,0.314376,0.011218,0.001512,0.064084,0.259397,0.007375,0.002313,...,0.002950,0.000728,0.004553,0.006738,0.000892,0.332368,0.085337,0.012912,0.000164,0.007558
std,2.204865,0.070750,0.569548,1.691382,0.117885,0.039776,0.430348,1.453141,0.093886,0.049896,...,0.057178,0.026980,0.070492,0.088852,0.031055,1.830505,0.630375,0.129989,0.012801,0.101335
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,63.000000,2.000000,15.000000,57.000000,3.000000,2.000000,15.000000,48.000000,3.000000,2.000000,...,2.000000,1.000000,3.000000,3.000000,2.000000,55.000000,57.000000,4.000000,1.000000,7.000000

In [37]:
#20대~
type_of_accident = counting_by(type_of_accident, acc_hist, '가해운전자 연령대', '20대','attack_20')
type_of_accident = counting_by(type_of_accident, acc_hist, '가해운전자 연령대', '30대','attack_30')
type_of_accident = counting_by(type_of_accident, acc_hist, '가해운전자 연령대', '40대','attack_40')
type_of_accident = counting_by(type_of_accident, acc_hist, '가해운전자 연령대', '50대','attack_50')
type_of_accident = counting_by(type_of_accident, acc_hist, '가해운전자 연령대', '60대','attack_60')
type_of_accident = counting_by(type_of_accident, acc_hist, '가해운전자 연령대', '70대','attack_70')
type_of_accident = counting_by(type_of_accident, acc_hist, '가해운전자 연령대', '80대','attack_80')
type_of_accident = counting_by(type_of_accident, acc_hist, '가해운전자 연령대', '90대','attack_90')
type_of_accident = counting_by(type_of_accident, acc_hist, '가해운전자 연령대', '기타불명','attack_age_noname')
type_of_accident = counting_by(type_of_accident, acc_hist, '가해운전자 연령대', '미분류','attack_age_unclassified')

In [38]:
type_of_accident.describe()

,acci_cnt,dead,serious,minor,injury,dead_ctc,serious_ctc,minor_ctc,injury_ctc,dead_cth,...,attack_20,attack_30,attack_40,attack_50,attack_60,attack_70,attack_80,attack_90,attack_age_noname,attack_age_unclassified
count,54912.000000,54912.000000,54912.000000,54912.000000,54912.000000,54912.000000,54912.000000,54912.000000,54912.000000,54912.000000,...,54912.000000,54912.000000,54912.000000,54912.000000,54912.000000,54912.000000,54912.000000,54912.000000,54912.000000,54912.000000
mean,0.430653,0.004553,0.100506,0.314376,0.011218,0.001512,0.064084,0.259397,0.007375,0.002313,...,0.062209,0.068236,0.082350,0.104768,0.072789,0.021853,0.002914,0.000036,0.000036,0.007740
std,2.204865,0.070750,0.569548,1.691382,0.117885,0.039776,0.430348,1.453141,0.093886,0.049896,...,0.459174,0.420282,0.476996,0.596351,0.447618,0.190741,0.056216,0.006035,0.006035,0.102926
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,63.000000,2.000000,15.000000,57.000000,3.000000,2.000000,15.000000,48.000000,3.000000,2.000000,...,28.000000,12.000000,14.000000,17.000000,14.000000,6.000000,2.000000,1.000000,1.000000,5.000000

### 3-2. 피해자 연령대

In [39]:
acc_hist['피해운전자 연령대'].unique()

array(['60대', '30대', '10대', '40대', '10대미만', '50대', '70대', nan, '20대',
       '미분류', '80대', '90대'], dtype=object)

In [40]:
acc_hist['피해운전자 연령대'].fillna('기타불명', inplace=True)

In [41]:
type_of_accident = counting_by(type_of_accident, acc_hist, '피해운전자 연령대', '10대미만','victim_under_10')
type_of_accident = counting_by(type_of_accident, acc_hist, '피해운전자 연령대', '10대','victim_10')
type_of_accident = counting_by(type_of_accident, acc_hist, '피해운전자 연령대', '20대','victim_20')
type_of_accident = counting_by(type_of_accident, acc_hist, '피해운전자 연령대', '30대','victim_30')
type_of_accident = counting_by(type_of_accident, acc_hist, '피해운전자 연령대', '40대','victim_40')
type_of_accident = counting_by(type_of_accident, acc_hist, '피해운전자 연령대', '50대','victim_50')
type_of_accident = counting_by(type_of_accident, acc_hist, '피해운전자 연령대', '60대','victim_60')
type_of_accident = counting_by(type_of_accident, acc_hist, '피해운전자 연령대', '70대','victim_70')
type_of_accident = counting_by(type_of_accident, acc_hist, '피해운전자 연령대', '80대','victim_80')
type_of_accident = counting_by(type_of_accident, acc_hist, '피해운전자 연령대', '90대','victim_90')
type_of_accident = counting_by(type_of_accident, acc_hist, '피해운전자 연령대', '기타불명','victim_age_noname')
type_of_accident = counting_by(type_of_accident, acc_hist, '피해운전자 연령대', '미분류','victim_age_unclassified')

In [42]:
type_of_accident.describe()

,acci_cnt,dead,serious,minor,injury,dead_ctc,serious_ctc,minor_ctc,injury_ctc,dead_cth,...,victim_20,victim_30,victim_40,victim_50,victim_60,victim_70,victim_80,victim_90,victim_age_noname,victim_age_unclassified
count,54912.000000,54912.000000,54912.000000,54912.000000,54912.000000,54912.000000,54912.000000,54912.000000,54912.000000,54912.000000,...,54912.000000,54912.000000,54912.000000,54912.000000,54912.000000,54912.000000,54912.000000,54912.000000,54912.000000,54912.000000
mean,0.430653,0.004553,0.100506,0.314376,0.011218,0.001512,0.064084,0.259397,0.007375,0.002313,...,0.067362,0.076686,0.082459,0.086721,0.056199,0.021890,0.005445,0.000364,0.012165,0.001384
std,2.204865,0.070750,0.569548,1.691382,0.117885,0.039776,0.430348,1.453141,0.093886,0.049896,...,0.546433,0.479707,0.487625,0.531964,0.373801,0.176453,0.076977,0.019081,0.125428,0.038144
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,63.000000,2.000000,15.000000,57.000000,3.000000,2.000000,15.000000,48.000000,3.000000,2.000000,...,45.000000,17.000000,14.000000,20.000000,11.000000,4.000000,3.000000,1.000000,4.000000,2.000000

## > 통합 및 저장

In [43]:
type_of_accident.to_file('data_pre/type_of_accident.geojson', driver='GeoJSON')

-----------------

# 도로관련 데이터 처리

    0. 대전지적도와 상세도로망 데이터 병합
    1. 교통량 및 도로정보(전일)
    2. 혼잡빈도강도
    3. 혼잡시간강도
    4. 교차로
    
    > 통합 및 저장
    
----------------------

## 0. 대전지적도와 상세도로망 데이터 병합

In [44]:
daejeon['road'] = 0

for i in tqdm(range(len(daejeon))):
    daejeon.loc[i, 'road'] = int(daejeon.loc[i, 'JIBUN'].endswith('도'))

100%|██████████| 292543/292543 [06:09<00:00, 791.96it/s]

In [45]:
daejeon_road = daejeon[daejeon['road'] == 1]

daejeon_road.to_file('daejeon_road.geojson', driver='GeoJSON')

In [46]:
daejeon_road = gpd.read_file('daejeon_road.geojson')

## 1. 교통량 및 도로정보

#### 1-1. 교통량

In [47]:
df_road = traffic_road.copy()
df_amt = traffic_amt.copy()
grid = acc_cnt.copy()

In [48]:
del df_road['road_name']
del df_road['road_no']
del df_road['facil_name']
del df_road['up_lanes']
del df_road['dw_lanes']
del df_road['up_its_id']
del df_road['dw_its_id']

In [49]:
del df_amt['도로명']
del df_amt['시도명']
del df_amt['시군구명']
del df_amt['읍면동명']

In [50]:
df_amt = df_amt[df_amt['시간적범위'] == 'fulltime']

df_amt['상세도로망_LinkID'] = df_amt['상세도로망_LinkID'].astype(str)

df_amt['link_id'] = df_amt['상세도로망_LinkID'].str[0:9]

In [51]:
traffic = pd.merge(df_amt, df_road, on='link_id', how='left')

traffic = gpd.GeoDataFrame(traffic)

In [52]:
grid_traffic = gpd.sjoin(traffic, grid, how='left', op='intersects')

In [53]:
grid_traffic = grid_traffic.reset_index()

del grid_traffic['index']

In [54]:
grid_traffic['max_speed'] = grid_traffic['max_speed'].astype(int)
grid_traffic['oneway'] = grid_traffic['oneway'].astype(int)
grid_traffic['width'] = grid_traffic['width'].astype(int)
grid_traffic['car_lane'] = grid_traffic['car_lane'].astype(int)
grid_traffic['num_cross'] = grid_traffic['num_cross'].astype(int)
grid_traffic['barrier'] = grid_traffic['barrier'].astype(int)

In [55]:
grid_traffic['speed_0'] = 0
grid_traffic['speed_30'] = 0
grid_traffic['speed_40'] = 0
grid_traffic['speed_50'] = 0
grid_traffic['speed_60'] = 0
grid_traffic['speed_70'] = 0
grid_traffic['speed_80'] = 0
grid_traffic['speed_90'] = 0
grid_traffic['speed_100'] = 0
grid_traffic['speed_110'] = 0

In [56]:
for i in range(len(grid_traffic)):
    a = grid_traffic.loc[i, 'max_speed']
    grid_traffic.loc[i, 'speed_%d'  %a] = 1

In [57]:
grid_traffic['express'] = 0
grid_traffic['general'] = 0

In [58]:
for i in range(len(grid_traffic)):
    a = grid_traffic.loc[i, '도로등급']
    if a == 101:
        grid_traffic.loc[i, 'express'] = 1
    elif a == 102:
        grid_traffic.loc[i, 'express'] = 1
    elif a == 108:
        grid_traffic.loc[i, 'express'] = 1
    else:
        grid_traffic.loc[i, 'general'] = 1

In [59]:
grid_traffic['width_1'] = 0
grid_traffic['width_2'] = 0
grid_traffic['width_3'] = 0
grid_traffic['width_4'] = 0
grid_traffic['width_5'] = 0

In [60]:
for i in range(len(grid_traffic)):
    a = grid_traffic.loc[i, 'width']
    grid_traffic.loc[i, 'width_%d' %a] = 1

In [61]:
#barrier 변수 범주화

for i in range(len(grid_traffic)):
    a = grid_traffic.loc[i, 'barrier']
    if a != 0:
        grid_traffic.loc[i, 'barrier'] = 1
    else:
        grid_traffic.loc[i, 'barrier'] = 0

In [62]:
del grid_traffic['상세도로망_LinkID']
del grid_traffic['도로등급']
del grid_traffic['링크길이']
del grid_traffic['시간적범위']
del grid_traffic['link_id']
del grid_traffic['max_speed']
del grid_traffic['road_rank']
del grid_traffic['link_type']
del grid_traffic['road_type']
del grid_traffic['length']
del grid_traffic['geometry']
del grid_traffic['index_right']
del grid_traffic['acci_cnt']
del grid_traffic['width']
del grid_traffic['num_cross']

In [63]:
traffic_sum = grid_traffic.groupby('gid', as_index=False).sum()

traffic_sum = traffic_sum.rename(columns = {'전체_추정교통량':'traffic_total_sum_inter', '승용차_추정교통량':'traffic_small_sum_inter', '버스_추정교통량':'traffic_bus_sum_inter', '화물차_추정교통량':'traffic_big_sum_inter'})

In [64]:
temp_traffic = pd.merge(acc_cnt, traffic_sum, on='gid', how='left')

In [65]:
null_grid_traffic = temp_traffic[temp_traffic['traffic_total_sum_inter'].isnull() == True][['gid', 'geometry']]

#### 1-2. traffic 결측치 대체

In [66]:
df_road = traffic_road.copy()
df_amt = traffic_amt.copy()

In [67]:
del df_road['road_name']
del df_road['road_no']
del df_road['facil_name']
del df_road['up_lanes']
del df_road['dw_lanes']
del df_road['up_its_id']
del df_road['dw_its_id']

In [68]:
del df_amt['도로명']
del df_amt['시도명']
del df_amt['시군구명']
del df_amt['읍면동명']

In [69]:
df_amt = df_amt[df_amt['시간적범위'] == 'fulltime']

df_amt['상세도로망_LinkID'] = df_amt['상세도로망_LinkID'].astype(str)

df_amt['link_id'] = df_amt['상세도로망_LinkID'].str[0:9]

In [70]:
s_traffic = pd.merge(df_amt, df_road, on='link_id', how='left')

s_traffic = gpd.GeoDataFrame(s_traffic)

s_traffic['geometry'] = s_traffic['geometry'].buffer(0.00005)   #각 도로망의 오차를 줄이기 위해 5m 버퍼 적용

In [71]:
s_road_traffic = gpd.sjoin(daejeon_road, s_traffic, how='left', op='intersects')

In [72]:
s_road_traffic = s_road_traffic.dropna()

s_road_traffic = s_road_traffic.reset_index()

del s_road_traffic['index']

In [73]:
s_road_traffic['max_speed'] = s_road_traffic['max_speed'].astype(int)
s_road_traffic['oneway'] = s_road_traffic['oneway'].astype(int)
s_road_traffic['width'] = s_road_traffic['width'].astype(int)
s_road_traffic['car_lane'] = s_road_traffic['car_lane'].astype(int)
s_road_traffic['num_cross'] = s_road_traffic['num_cross'].astype(int)
s_road_traffic['barrier'] = s_road_traffic['barrier'].astype(int)

In [74]:
s_road_traffic['speed_0'] = 0
s_road_traffic['speed_30'] = 0
s_road_traffic['speed_40'] = 0
s_road_traffic['speed_50'] = 0
s_road_traffic['speed_60'] = 0
s_road_traffic['speed_70'] = 0
s_road_traffic['speed_80'] = 0
s_road_traffic['speed_90'] = 0
s_road_traffic['speed_100'] = 0
s_road_traffic['speed_110'] = 0

In [75]:
for i in range(len(s_road_traffic)):
    a = s_road_traffic.loc[i, 'max_speed']
    s_road_traffic.loc[i, 'speed_%d'  %a] = 1

In [76]:
s_road_traffic['express'] = 0
s_road_traffic['general'] = 0

In [77]:
for i in range(len(s_road_traffic)):
    a = s_road_traffic.loc[i, '도로등급']
    if a == 101:
        s_road_traffic.loc[i, 'express'] = 1
    elif a == 102:
        s_road_traffic.loc[i, 'express'] = 1
    elif a == 108:
        s_road_traffic.loc[i, 'express'] = 1
    else:
        s_road_traffic.loc[i, 'general'] = 1

In [78]:
s_road_traffic['width_1'] = 0
s_road_traffic['width_2'] = 0
s_road_traffic['width_3'] = 0
s_road_traffic['width_4'] = 0
s_road_traffic['width_5'] = 0

In [79]:
for i in range(len(s_road_traffic)):
    a = s_road_traffic.loc[i, 'width']
    s_road_traffic.loc[i, 'width_%d' %a] = 1

In [80]:
#barrier 변수 범주화

for i in range(len(s_road_traffic)):
    a = s_road_traffic.loc[i, 'barrier']
    if a != 0:
        s_road_traffic.loc[i, 'barrier'] = 1
    else:
        s_road_traffic.loc[i, 'barrier'] = 0

In [81]:
del s_road_traffic['상세도로망_LinkID']
del s_road_traffic['도로등급']
del s_road_traffic['링크길이']
del s_road_traffic['시간적범위']
del s_road_traffic['link_id']
del s_road_traffic['max_speed']
del s_road_traffic['road_rank']
del s_road_traffic['link_type']
del s_road_traffic['road_type']
del s_road_traffic['length']
del s_road_traffic['geometry']
del s_road_traffic['index_right']
del s_road_traffic['width']
del s_road_traffic['num_cross']

In [82]:
s_road_traffic_traffic = s_road_traffic.groupby('PNU', as_index=False).mean() #하나의 s_road에 여러개의 상세도로망이 겹치는 경우를 위해 평균으로 그룹

In [83]:
for j in tqdm(range(6,26)):
    for i in range(len(s_road_traffic_traffic)):
        s_road_traffic_traffic.iloc[i,j] = math.ceil(s_road_traffic_traffic.iloc[i,j])

100%|██████████| 20/20 [01:58<00:00,  5.92s/it]

In [84]:
s_road_traffic_traffic = pd.merge(s_road_traffic_traffic, daejeon_road, on='PNU', how='left')

In [85]:
del s_road_traffic_traffic['road_x']
del s_road_traffic_traffic['road_y']
del s_road_traffic_traffic['JIBUN']
del s_road_traffic_traffic['PNU']

In [86]:
null_grid_traffic_traffic = gpd.sjoin(s_road_traffic_traffic, null_grid_traffic, how='left', op='intersects')

In [87]:
null_grid_traffic_traffic = null_grid_traffic_traffic.dropna()

null_grid_traffic_traffic = null_grid_traffic_traffic.groupby('gid', as_index=False).sum()

In [88]:
del null_grid_traffic_traffic['index_right']

null_grid_traffic_traffic = null_grid_traffic_traffic.rename(columns = {'전체_추정교통량':'traffic_total_sum_inter', '승용차_추정교통량':'traffic_small_sum_inter', '버스_추정교통량':'traffic_bus_sum_inter', '화물차_추정교통량':'traffic_big_sum_inter'})

In [89]:
del temp_traffic['acci_cnt']
del temp_traffic['geometry']

In [90]:
final_traffic_data = pd.concat([temp_traffic, null_grid_traffic_traffic], axis=0)

In [91]:
final_traffic_data = final_traffic_data.groupby('gid',as_index=False).sum()

In [92]:
final_traffic_data = pd.merge(acc_cnt, final_traffic_data, on='gid', how='left')

In [93]:
del final_traffic_data['acci_cnt']
del final_traffic_data['geometry']

final_traffic_data.head()

,gid,traffic_total_sum_inter,traffic_small_sum_inter,traffic_bus_sum_inter,traffic_big_sum_inter,oneway,car_lane,barrier,speed_0,speed_30,...,speed_90,speed_100,speed_110,express,general,width_1,width_2,width_3,width_4,width_5
0,다바866110,16566.0,13997.0,183.0,2385.0,0.0,0.0,2.0,2.0,0.0,...,0.0,0.0,0.0,0.0,2.0,0.0,0.0,2.0,0.0,0.0
1,다바823157,9453.0,8175.0,81.0,1199.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,8.0,0.0,0.0,4.0,4.0,0.0
2,다바928260,30270.0,26108.0,260.0,3905.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,8.0,0.0,8.0,0.0,0.0,0.0
3,다바931203,23192.0,19396.0,264.0,3531.0,0.0,0.0,2.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,2.0,0.0
4,다바836109,5431.0,4880.0,44.0,508.0,0.0,0.0,0.0,8.0,0.0,...,0.0,0.0,0.0,0.0,8.0,2.0,2.0,4.0,0.0,0.0

## 2. 혼잡빈도강도

#### 2-1. 혼잡빈도강도

In [94]:
df_road = traffic_road.copy()
df_freq = traffic_freq.copy()
grid = acc_cnt.copy()

In [95]:
del df_road['road_name']
del df_road['road_no']
del df_road['facil_name']
del df_road['up_lanes']
del df_road['dw_lanes']
del df_road['up_its_id']
del df_road['dw_its_id']

In [96]:
del df_freq['도로명']
del df_freq['시도명']
del df_freq['시군구명']
del df_freq['읍면동명']

In [97]:
df_freq['상세도로망_LinkID'] = df_freq['상세도로망_LinkID'].astype(str)

df_freq['link_id'] = df_freq['상세도로망_LinkID'].str[0:9]

freq = pd.merge(df_freq, df_road, on='link_id', how='left')

freq = gpd.GeoDataFrame(freq)

In [98]:
grid_freq = gpd.sjoin(freq, grid, how='left', op='intersects')

In [99]:
grid_freq = grid_freq.reset_index()

del grid_freq['index']

grid_freq = grid_freq[['혼잡빈도강도', 'gid']]

In [100]:
freq_max = grid_freq.groupby('gid', as_index=False).max()

freq_max = freq_max.rename(columns = {'혼잡빈도강도':'freq_max_inter'})

In [101]:
temp_freq = pd.merge(acc_cnt, freq_max, on='gid', how='left')

In [102]:
null_grid_freq = temp_freq[temp_freq['freq_max_inter'].isnull() == True][['gid', 'geometry']]

#### 2-2. freq 결측치 대체

In [103]:
df_road = traffic_road.copy()
df_freq = traffic_freq.copy()

In [104]:
del df_road['road_name']
del df_road['road_no']
del df_road['facil_name']
del df_road['up_lanes']
del df_road['dw_lanes']
del df_road['up_its_id']
del df_road['dw_its_id']

In [105]:
del df_freq['도로명']
del df_freq['시도명']
del df_freq['시군구명']
del df_freq['읍면동명']

In [106]:
df_freq['상세도로망_LinkID'] = df_freq['상세도로망_LinkID'].astype(str)

df_freq['link_id'] = df_freq['상세도로망_LinkID'].str[0:9]

In [107]:
s_freq = pd.merge(df_freq, df_road, on='link_id', how='left')

s_freq = gpd.GeoDataFrame(s_freq)

s_freq['geometry'] = s_freq['geometry'].buffer(0.00005)   #각 도로망의 오차를 줄이기 위해 5m 버퍼 적용

In [108]:
s_road_freq = gpd.sjoin(daejeon_road, s_freq, how='left', op='intersects')

In [109]:
s_road_freq = s_road_freq.dropna()

s_road_freq = s_road_freq.reset_index()

del s_road_freq['index']

In [110]:
del s_road_freq['상세도로망_LinkID']
del s_road_freq['도로등급']
del s_road_freq['링크길이']
del s_road_freq['link_id']
del s_road_freq['max_speed']
del s_road_freq['road_rank']
del s_road_freq['link_type']
del s_road_freq['road_type']
del s_road_freq['oneway']
del s_road_freq['length']
del s_road_freq['geometry']
del s_road_freq['index_right']
del s_road_freq['width']
del s_road_freq['num_cross']

In [111]:
s_road_freq_freq = s_road_freq.groupby('PNU', as_index=False).mean() #하나의 s_road에 여러개의 상세도로망이 겹치는 경우를 위해 평균으로 그룹

In [112]:
s_road_freq_freq = pd.merge(s_road_freq_freq, daejeon_road, on='PNU', how='left')

In [113]:
del s_road_freq_freq['PNU']
del s_road_freq_freq['road_x']
del s_road_freq_freq['road_y']
del s_road_freq_freq['JIBUN']

In [114]:
null_grid_freq_freq = gpd.sjoin(s_road_freq_freq, null_grid_freq, how='left', op='intersects')

In [115]:
null_grid_freq_freq = null_grid_freq_freq.dropna()

null_grid_freq_freq = null_grid_freq_freq.groupby('gid', as_index=False).max()

In [116]:
del null_grid_freq_freq['index_right']

null_grid_freq_freq = null_grid_freq_freq.rename(columns = {'혼잡빈도강도':'freq_max_inter'})

In [117]:
del temp_freq['acci_cnt']
del temp_freq['geometry']

In [118]:
null_grid_freq_freq

           gid  freq_max_inter
0     다바780093          78.210
1     다바781092          53.115
2     다바781093          53.115
3     다바782091          53.115
4     다바782093          53.115
...        ...             ...
3004  라바037233          90.985
3005  라바037234          90.985
3006  라바038233          90.985
3007  라바038234          90.985
3008  라바039233          90.985

[3009 rows x 2 columns]

In [119]:
final_freq_data = pd.concat([temp_freq, null_grid_freq_freq], axis=0)

In [120]:
final_freq_data = final_freq_data.groupby('gid',as_index=False).sum()

In [121]:
final_freq_data = pd.merge(acc_cnt, final_freq_data, on='gid', how='left')

In [122]:
del final_freq_data['acci_cnt']
del final_freq_data['geometry']

final_freq_data.head()

        gid  freq_max_inter
0  다바866110            0.53
1  다바823157           51.51
2  다바928260           69.34
3  다바931203           99.52
4  다바836109           81.58

## 3. 혼잡시간강도

#### 3-1. 혼잡시간강도

In [123]:
df_road = traffic_road.copy()
df_time = traffic_time.copy()
grid = acc_cnt.copy()

In [124]:
del df_road['road_name']
del df_road['road_no']
del df_road['facil_name']
del df_road['up_lanes']
del df_road['dw_lanes']
del df_road['up_its_id']
del df_road['dw_its_id']

In [125]:
del df_time['도로명']
del df_time['시도명']
del df_time['시군구명']
del df_time['읍면동명']

In [126]:
df_time['상세도로망_LinkID'] = df_time['상세도로망_LinkID'].astype(str)

df_time['link_id'] = df_time['상세도로망_LinkID'].str[0:9]

time = pd.merge(df_time, df_road, on='link_id', how='left')

time = gpd.GeoDataFrame(time)

In [127]:
grid_time = gpd.sjoin(time, grid, how='left', op='intersects')

In [128]:
grid_time = grid_time.reset_index()

del grid_time['index']

grid_time = grid_time[['혼잡시간강도', 'gid']]

In [129]:
time_max = grid_time.groupby('gid', as_index=False).max()

time_max = time_max.rename(columns = {'혼잡시간강도':'time_max_inter'})

In [130]:
temp_time = pd.merge(acc_cnt, time_max, on='gid', how='left')

In [131]:
null_grid_time = temp_time[temp_time['time_max_inter'].isnull() == True][['gid', 'geometry']]

#### 3-2. time 결측치 대체

In [132]:
df_road = traffic_road.copy()
df_time = traffic_time.copy()

In [133]:
del df_road['road_name']
del df_road['road_no']
del df_road['facil_name']
del df_road['up_lanes']
del df_road['dw_lanes']
del df_road['up_its_id']
del df_road['dw_its_id']

In [134]:
del df_time['도로명']
del df_time['시도명']
del df_time['시군구명']
del df_time['읍면동명']

In [135]:
df_time['상세도로망_LinkID'] = df_time['상세도로망_LinkID'].astype(str)

df_time['link_id'] = df_time['상세도로망_LinkID'].str[0:9]

In [136]:
s_time = pd.merge(df_time, df_road, on='link_id', how='left')

s_time = gpd.GeoDataFrame(s_time)

s_time['geometry'] = s_time['geometry'].buffer(0.00005)   #각 도로망의 오차를 줄이기 위해 5m 버퍼 적용

In [137]:
s_road_time = gpd.sjoin(daejeon_road, s_time, how='left', op='intersects')

In [138]:
s_road_time = s_road_time.dropna()

s_road_time = s_road_time.reset_index()

del s_road_time['index']

In [139]:
del s_road_time['상세도로망_LinkID']
del s_road_time['도로등급']
del s_road_time['링크길이']
del s_road_time['link_id']
del s_road_time['max_speed']
del s_road_time['road_rank']
del s_road_time['link_type']
del s_road_time['road_type']
del s_road_time['oneway']
del s_road_time['length']
del s_road_time['geometry']
del s_road_time['index_right']
del s_road_time['width']
del s_road_time['num_cross']

In [140]:
s_road_time_time = s_road_time.groupby('PNU', as_index=False).mean() #하나의 s_road에 여러개의 상세도로망이 겹치는 경우를 위해 평균으로 그룹

In [141]:
s_road_time_time = pd.merge(s_road_time_time, daejeon_road, on='PNU', how='left')

In [142]:
del s_road_time_time['PNU']
del s_road_time_time['road_x']
del s_road_time_time['road_y']
del s_road_time_time['JIBUN']

In [143]:
null_grid_time_time = gpd.sjoin(s_road_time_time, null_grid_time, how='left', op='intersects')

In [144]:
null_grid_time_time = null_grid_time_time.dropna()

null_grid_time_time = null_grid_time_time.groupby('gid', as_index=False).mean()

In [145]:
del null_grid_time_time['index_right']

null_grid_time_time = null_grid_time_time.rename(columns = {'혼잡시간강도':'time_max_inter'})

In [146]:
del temp_time['acci_cnt']
del temp_time['geometry']

In [147]:
final_time_data = pd.concat([temp_time, null_grid_time_time], axis=0)

In [148]:
final_time_data = final_time_data.groupby('gid',as_index=False).mean()

In [149]:
final_time_data = pd.merge(acc_cnt, final_time_data, on='gid', how='left')

In [150]:
del final_time_data['acci_cnt']
del final_time_data['geometry']

final_time_data.head()

        gid  time_max_inter
0  다바866110            4.42
1  다바823157           69.13
2  다바928260           93.81
3  다바931203           99.84
4  다바836109           97.22

## 4. 교차로

In [151]:
grid = acc_cnt.copy()
df_node = traffic_node.copy()

In [152]:
node = df_node[df_node['NODE_TYPE'] == '101']

In [153]:
grid_node = gpd.sjoin(node, grid, how='left', op='intersects')

In [154]:
del grid_node['NODE_ID']
del grid_node['NODE_NAME']
del grid_node['REMARK']
del grid_node['index_right']
del grid_node['acci_cnt']

In [155]:
node_data = grid_node.groupby('gid', as_index=False).count()

In [156]:
del node_data['geometry']

In [157]:
node_data = node_data.rename(columns = {'NODE_TYPE':'intersects'})

In [158]:
final_node_data = pd.merge(acc_cnt, node_data, how='left', on='gid')

In [159]:
final_node_data = final_node_data.fillna(0)

In [160]:
del final_node_data['acci_cnt']
del final_node_data['geometry']

final_node_data #intersects: 교차로 수, TURN_P: 회전제한유무 교차로(0:무 1~ : 제한있는 도로 숫자)

            gid  intersects  TURN_P
0      다바866110         0.0     0.0
1      다바823157         1.0     1.0
2      다바928260         2.0     2.0
3      다바931203         0.0     0.0
4      다바836109         0.0     0.0
...         ...         ...     ...
54907  다바861065         0.0     0.0
54908  다바912036         0.0     0.0
54909  다바867189         0.0     0.0
54910  다바851062         0.0     0.0
54911  다바924104         0.0     0.0

[54912 rows x 3 columns]

## > 통합 및 저장

In [161]:
traffic_var = pd.merge(final_traffic_data, final_freq_data, how='left', on='gid')
traffic_var = pd.merge(traffic_var, final_time_data, how='left', on='gid')
traffic_var = pd.merge(traffic_var, final_node_data, how='left', on='gid')

traffic_var.head()

,gid,traffic_total_sum_inter,traffic_small_sum_inter,traffic_bus_sum_inter,traffic_big_sum_inter,oneway,car_lane,barrier,speed_0,speed_30,...,general,width_1,width_2,width_3,width_4,width_5,freq_max_inter,time_max_inter,intersects,TURN_P
0,다바866110,16566.0,13997.0,183.0,2385.0,0.0,0.0,2.0,2.0,0.0,...,2.0,0.0,0.0,2.0,0.0,0.0,0.53,4.42,0.0,0.0
1,다바823157,9453.0,8175.0,81.0,1199.0,0.0,0.0,0.0,0.0,0.0,...,8.0,0.0,0.0,4.0,4.0,0.0,51.51,69.13,1.0,1.0
2,다바928260,30270.0,26108.0,260.0,3905.0,0.0,0.0,0.0,0.0,4.0,...,8.0,0.0,8.0,0.0,0.0,0.0,69.34,93.81,2.0,2.0
3,다바931203,23192.0,19396.0,264.0,3531.0,0.0,0.0,2.0,0.0,0.0,...,2.0,0.0,0.0,0.0,2.0,0.0,99.52,99.84,0.0,0.0
4,다바836109,5431.0,4880.0,44.0,508.0,0.0,0.0,0.0,8.0,0.0,...,8.0,2.0,2.0,4.0,0.0,0.0,81.58,97.22,0.0,0.0

In [162]:
grid = acc_cnt[['gid', 'geometry']]

traffic_var = pd.merge(grid, traffic_var, how='left',on='gid')
traffic_var.fillna(0, inplace=True)
traffic_var

,gid,geometry,traffic_total_sum_inter,traffic_small_sum_inter,traffic_bus_sum_inter,traffic_big_sum_inter,oneway,car_lane,barrier,speed_0,...,general,width_1,width_2,width_3,width_4,width_5,freq_max_inter,time_max_inter,intersects,TURN_P
0,다바866110,"MULTIPOLYGON (((127.35076 36.29622, 127.35076 ...",16566.0,13997.0,183.0,2385.0,0.0,0.0,2.0,2.0,...,2.0,0.0,0.0,2.0,0.0,0.0,0.53,4.42,0.0,0.0
1,다바823157,"MULTIPOLYGON (((127.30277 36.33853, 127.30276 ...",9453.0,8175.0,81.0,1199.0,0.0,0.0,0.0,0.0,...,8.0,0.0,0.0,4.0,4.0,0.0,51.51,69.13,1.0,1.0
2,다바928260,"MULTIPOLYGON (((127.41967 36.43152, 127.41967 ...",30270.0,26108.0,260.0,3905.0,0.0,0.0,0.0,0.0,...,8.0,0.0,8.0,0.0,0.0,0.0,69.34,93.81,2.0,2.0
3,다바931203,"MULTIPOLYGON (((127.42307 36.38013, 127.42307 ...",23192.0,19396.0,264.0,3531.0,0.0,0.0,2.0,0.0,...,2.0,0.0,0.0,0.0,2.0,0.0,99.52,99.84,0.0,0.0
4,다바836109,"MULTIPOLYGON (((127.31735 36.29527, 127.31735 ...",5431.0,4880.0,44.0,508.0,0.0,0.0,0.0,8.0,...,8.0,2.0,2.0,4.0,0.0,0.0,81.58,97.22,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54907,다바861065,"MULTIPOLYGON (((127.34527 36.25565, 127.34527 ...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.00,0.0,0.0
54908,다바912036,"MULTIPOLYGON (((127.40208 36.22956, 127.40207 ...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.00,0.0,0.0
54909,다바867189,"MULTIPOLYGON (((127.35174 36.36745, 127.35174 ...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.00,0.0,0.0
54910,다바851062,"MULTIPOLYGON (((127.33415 36.25293, 127.33415 ...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.00,0.0,0.0
54911,다바924104,"MULTIPOLYGON (((127.41536 36.29088, 127.41536 ...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.00,0.0,0.0

In [163]:
traffic_var.to_file('data_pre/traffic_var.geojson', driver='GeoJSON')

----------------

# 건물 관련 변수

    1. 전체건물
    2. 주거용 건물
    3. 사무용 건물
    4. 기타 건물
    
    > 통합 및 변수
    
-----------------

## 1. 전체 건물 개수

In [164]:
# 병합을 위한 기준격자 데이터 설정 : grid

grid = acc_cnt.copy()
grid = grid.loc[:, ['gid', 'geometry']]

In [165]:
# 건물구분용도 코드를 활용해 각 건물을 HSE / OFF / OTH 유형으로 분류

temp = building.copy()
temp['BDTYP_CD_short'] = [int(x[0:3]) for x in temp.BDTYP_CD]

temp['BDTYP'] = 'OTH'

temp.BDTYP[np.where(temp.BDTYP_CD_short < 30)[0]] = 'HSE'

temp.BDTYP[np.where( (temp.BDTYP_CD_short == 44)|
                     (temp.BDTYP_CD_short == 100)|
                     (temp.BDTYP_CD_short == 101)|
                     (temp.BDTYP_CD_short == 102)   )[0]] = 'OFF'

temp.geometry = temp.geometry.centroid

building_temp = temp.loc[:, ['BDTYP', 'geometry']]

In [166]:
temp = building_temp.copy()
temp['building_tot'] = 1

# jtemp는 building_temp 데이터를 기준데이터의 격자에 할당한 데이터
jtemp = gpd.sjoin(temp, grid, how='left')
jtemp = jtemp.loc[:, ['gid', 'building_tot', 'geometry']]

# rtemp는 jtemp에서 격자별로 몇개의 building_tot가 있는지 정리한 데이터
rtemp = jtemp.groupby('gid', as_index=False).count()
rtemp = rtemp.loc[:, ['gid', 'building_tot']]

# mtemp는 rtemp에서 더 확장해 대전시 모든 격자에 building_tot 개수 할당한 데이터
mtemp = pd.merge(grid, rtemp, on='gid', how='left')
mtemp = mtemp.fillna(0)
mtemp.building_tot = mtemp.building_tot.astype('int')

# 최종적으로 building_tot 데이터로 기준데이터의 격자에 building_tot 개수 변수 병합
building_tot = mtemp.loc[:, ['gid', 'building_tot']]

## 2. 주거용 건물 개수

In [167]:
temp = building_temp.copy()
temp = temp[temp.BDTYP=='HSE']
temp['house'] = 1

# jtemp는 building_temp 데이터를 기준데이터의 격자에 할당한 데이터
jtemp = gpd.sjoin(temp, grid, how='left')
jtemp = jtemp.loc[:, ['gid', 'house', 'geometry']]

# rtemp는 jtemp에서 격자별로 몇개의 house가 있는지 정리한 데이터
rtemp = jtemp.groupby('gid', as_index=False).count()
rtemp = rtemp.loc[:, ['gid', 'house']]

# mtemp는 rtemp에서 더 확장해 대전시 모든 격자에 house 개수 할당한 데이터
mtemp = pd.merge(grid, rtemp, on='gid', how='left')
mtemp = mtemp.fillna(0)
mtemp.house = mtemp.house.astype('int')

# 최종적으로 house 데이터로 기준데이터의 격자에 house 개수 변수 병합
house = mtemp.loc[:, ['gid', 'house']]

## 3. 사무용 건물 개수

In [168]:
temp = building_temp.copy()
temp = temp[temp.BDTYP=='OFF']
temp['office'] = 1

# jtemp는 building_temp 데이터를 기준데이터의 격자에 할당한 데이터
jtemp = gpd.sjoin(temp, grid, how='left')
jtemp = jtemp.loc[:, ['gid', 'office', 'geometry']]

# rtemp는 jtemp에서 격자별로 몇개의 office 있는지 정리한 데이터
rtemp = jtemp.groupby('gid', as_index=False).count()
rtemp = rtemp.loc[:, ['gid', 'office']]

# mtemp는 rtemp에서 더 확장해 대전시 모든 격자에 office 개수 할당한 데이터
mtemp = pd.merge(grid, rtemp, on='gid', how='left')
mtemp = mtemp.fillna(0)
mtemp.office = mtemp.office.astype('int')

# 최종적으로 office 데이터로 기준데이터의 격자에 office 개수 변수 병합
office = mtemp.loc[:, ['gid', 'office']]

## 4. 기타 건물 개수

In [169]:
## 병합할 데이터 : 건물(house)

temp = building_temp.copy()
temp = temp[temp.BDTYP=='OTH']
temp['other'] = 1

# jtemp는 building_temp 데이터를 기준데이터의 격자에 할당한 데이터
jtemp = gpd.sjoin(temp, grid, how='left')
jtemp = jtemp.loc[:, ['gid', 'other', 'geometry']]

# rtemp는 jtemp에서 격자별로 몇개의 other 있는지 정리한 데이터
rtemp = jtemp.groupby('gid', as_index=False).count()
rtemp = rtemp.loc[:, ['gid', 'other']]

# mtemp는 rtemp에서 더 확장해 대전시 모든 격자에 other 개수 할당한 데이터
mtemp = pd.merge(grid, rtemp, on='gid', how='left')
mtemp = mtemp.fillna(0)
mtemp.other = mtemp.other.astype('int')

# 최종적으로 other 데이터로 기준데이터의 격자에 other 개수 변수 병합
other = mtemp.loc[:, ['gid', 'other']]

## > 통합 및 저장

In [170]:
building_var = pd.merge(grid, building_tot, on='gid', how='left')
building_var = pd.merge(building_var, house, on='gid', how='left')
building_var = pd.merge(building_var, office, on='gid', how='left')
building_var = pd.merge(building_var, other, on='gid', how='left')
building_var

,gid,geometry,building_tot,house,office,other
0,다바866110,"MULTIPOLYGON (((127.35076 36.29622, 127.35076 ...",6,6,0,0
1,다바823157,"MULTIPOLYGON (((127.30277 36.33853, 127.30276 ...",2,2,0,0
2,다바928260,"MULTIPOLYGON (((127.41967 36.43152, 127.41967 ...",8,5,0,3
3,다바931203,"MULTIPOLYGON (((127.42307 36.38013, 127.42307 ...",2,0,0,2
4,다바836109,"MULTIPOLYGON (((127.31735 36.29527, 127.31735 ...",1,1,0,0
...,...,...,...,...,...,...
54907,다바861065,"MULTIPOLYGON (((127.34527 36.25565, 127.34527 ...",0,0,0,0
54908,다바912036,"MULTIPOLYGON (((127.40208 36.22956, 127.40207 ...",0,0,0,0
54909,다바867189,"MULTIPOLYGON (((127.35174 36.36745, 127.35174 ...",0,0,0,0
54910,다바851062,"MULTIPOLYGON (((127.33415 36.25293, 127.33415 ...",0,0,0,0
54911,다바924104,"MULTIPOLYGON (((127.41536 36.29088, 127.41536 ...",0,0,0,0

In [171]:
building_var.to_file('data_pre/building_var.geojson', driver='GeoJSON')

---------------

# 면적 변수

    1. 횡단보도
        1-1. 횡단보도 개수
    2. 정차금지지대
    
    > 통합 및 저장
    
-----------------

## 1. 횡단보도

In [172]:
grid = acc_cnt.copy()
grid = grid.loc[:, ['gid', 'geometry']]

In [173]:
temp = crosswalk.copy()
temp['crosswalk_cnt'] = 1
temp = temp.loc[:, ['geometry', 'crosswalk_cnt']]

# jtemp는 crosswalk 데이터를 기준데이터의 격자에 할당한 데이터
jtemp = gpd.sjoin(temp, grid, how='left')
jtemp = jtemp.rename(columns={'geometry':'crosswalk_geometry'})           # 횡단보도의 위치 정보(polygon)

jtemp = pd.merge(jtemp, grid, on='gid', how='left')                       # 기준 격자의 위치 정보(polygon)
jtemp = jtemp.rename(columns={'geometry':'grid_geometry'})

for idx in np.where(jtemp.crosswalk_geometry.is_valid==False)[0]:        # 횡단보도의 polygon 정보 중 유효하지 않은 값 수정
    jtemp.crosswalk_geometry[idx] = jtemp.crosswalk_geometry[idx].buffer(0)

# jtemp의 crosswalk_ar은 crosswalk와 기준 격자가 겹치는 영역의 넓이를 계산
jtemp['crosswalk_ar'] = [gd.intersection(csw).area for gd, csw in zip(jtemp.grid_geometry, jtemp.crosswalk_geometry)]
jtemp = jtemp.loc[:, ['gid', 'crosswalk_ar']]

# rtemp는 jtemp에서 격자별로 crosswalk가 겹쳐지는 영역의 넓이 합을 정리한 데이터
rtemp = jtemp.groupby('gid', as_index=False).sum()

# mtemp는 rtemp에서 더 확장해 대전시 모든 격자에 crosswalk 면적 할당한 데이터
mtemp = pd.merge(grid, rtemp, on='gid', how='left')
mtemp = mtemp.fillna(0)

# 최종적으로 crosswalk_ar 데이터로 기준데이터의 격자에 crosswalk 면적 변수 병합
crosswalk_ar = mtemp.loc[:, ['gid', 'crosswalk_ar']]

### 1-1. 횡단보도(개수)

In [174]:
temp = crosswalk.copy()
temp['crosswalk_cnt'] = 1                                  # crosswalk 각 행을 하나의 crosswalk로 규정(이어지는 작업 용이)
temp = temp.loc[:, ['geometry', 'crosswalk_cnt']]

# jtemp는 crosswalk 데이터를 기준데이터의 격자에 할당한 데이터
jtemp = gpd.sjoin(temp, grid, how='left')
jtemp = jtemp.loc[:, ['gid', 'crosswalk_cnt', 'geometry']]

# rtemp는 jtemp에서 격자별로 몇개의 crosswalk가 있는 지 정리한 데이터
rtemp = jtemp.groupby('gid', as_index=False).count()
rtemp = rtemp.loc[:, ['gid', 'crosswalk_cnt']]

# mtemp는 rtemp에서 더 확장해 대전시 모든 격자에 crosswalk 개수 할당한 데이터
mtemp = pd.merge(grid, rtemp, on='gid', how='left')
mtemp = mtemp.fillna(0)
mtemp.crosswalk_cnt = mtemp.crosswalk_cnt.astype('int')

# 최종적으로 crosswalk_cnt 데이터로 기준데이터의 격자에 crosswalk 개수 변수 병합
crosswalk_cnt = mtemp.loc[:, ['gid', 'crosswalk_cnt']]

## 2. 정차금지지대

In [175]:
temp = noparking_zone.copy()
temp['noparking'] = 1
temp = temp.loc[:, ['geometry', 'noparking']]

# jtemp는 noparking_zone 데이터를 기준데이터의 격자에 할당한 데이터
jtemp = gpd.sjoin(temp, grid, how='left')
jtemp = jtemp.rename(columns={'geometry':'noparking_geometry'})           # 정차금지지대 위치 정보(polygon)

jtemp = pd.merge(jtemp, grid, on='gid', how='left')                       # 기준 격자의 위치 정보(polygon)
jtemp = jtemp.rename(columns={'geometry':'grid_geometry'})

for idx in np.where(jtemp.noparking_geometry.is_valid==False)[0]:        # 정차금지지대 polygon 정보 중 유효하지 않은 값 수정
    jtemp.noparking_geometry[idx] = jtemp.noparking_geometry[idx].buffer(0)

# jtemp의 noparking_ar은 noparkng과 기준 격자가 겹치는 영역의 넓이를 계산
jtemp['noparking_ar'] = [gd.intersection(npr).area for gd, npr in zip(jtemp.grid_geometry, jtemp.noparking_geometry)]
jtemp = jtemp.loc[:, ['gid', 'noparking_ar']]

# rtemp는 jtemp에서 격자별로 noparking가 겹쳐지는 영역의 넓이 합을 정리한 데이터
rtemp = jtemp.groupby('gid', as_index=False).sum()

# mtemp는 rtemp에서 더 확장해 대전시 모든 격자에 noparking 면적 할당한 데이터
mtemp = pd.merge(grid, rtemp, on='gid', how='left')
mtemp = mtemp.fillna(0)

# 최종적으로 noparking_ar 데이터로 기준데이터의 격자에 noparking 면적 변수 병합
noparking_ar = mtemp.loc[:, ['gid', 'noparking_ar']]

## > 통합 및 저장

In [176]:
area_var = pd.merge(grid, crosswalk_cnt, on='gid', how='left')
area_var = pd.merge(area_var, crosswalk_ar, on='gid', how='left')
area_var = pd.merge(area_var, noparking_ar, on='gid', how='left')

area_var

,gid,geometry,crosswalk_cnt,crosswalk_ar,noparking_ar
0,다바866110,"MULTIPOLYGON (((127.35076 36.29622, 127.35076 ...",0,0.000000e+00,0.0
1,다바823157,"MULTIPOLYGON (((127.30277 36.33853, 127.30276 ...",5,2.169707e-08,0.0
2,다바928260,"MULTIPOLYGON (((127.41967 36.43152, 127.41967 ...",5,1.473700e-08,0.0
3,다바931203,"MULTIPOLYGON (((127.42307 36.38013, 127.42307 ...",1,1.098103e-08,0.0
4,다바836109,"MULTIPOLYGON (((127.31735 36.29527, 127.31735 ...",2,1.346755e-08,0.0
...,...,...,...,...,...
54907,다바861065,"MULTIPOLYGON (((127.34527 36.25565, 127.34527 ...",0,0.000000e+00,0.0
54908,다바912036,"MULTIPOLYGON (((127.40208 36.22956, 127.40207 ...",0,0.000000e+00,0.0
54909,다바867189,"MULTIPOLYGON (((127.35174 36.36745, 127.35174 ...",0,0.000000e+00,0.0
54910,다바851062,"MULTIPOLYGON (((127.33415 36.25293, 127.33415 ...",0,0.000000e+00,0.0
54911,다바924104,"MULTIPOLYGON (((127.41536 36.29088, 127.41536 ...",0,0.000000e+00,0.0

In [177]:
area_var.to_file('data_pre/area_var.geojson', driver='GeoJSON')

----------------------

# count 변수들

    1. 신호등(보행등)
    2. 신호등(차량등)
    3. CCTV
    4. 교통안전표지
    
    > 통합 및 저장
    
------------------

## 1. 신호등(보행등)

In [178]:
# 그리드 정보와 신호등(보행등) 데이터 추출

grid = acc_cnt[['gid', 'geometry']]

trlight_pas = gpd.GeoDataFrame(trlight_pas[ ['loc_cd','geometry']])

In [179]:
# 포인트 데이터를 격자에 할당

temp = gpd.sjoin(trlight_pas, grid, how='left')

In [180]:
# 격자별 개수를 변수로 생성한 후 칼럼 이름 변경

temp = temp.groupby('gid', as_index=False).count()

temp = temp.rename(columns = {'loc_cd':'trlight_pas'})
temp = temp.drop(['geometry', 'index_right'], axis=1)

temp

           gid  trlight_pas
0     다바796081            2
1     다바803077            4
2     다바810181            2
3     다바815165            1
4     다바815180            1
...        ...          ...
2545  다바995166            1
2546  다바995167            1
2547  다바997166            4
2548  라바013171            1
2549  라바013172            1

[2550 rows x 2 columns]

## 2. 신호등(차량등)

In [181]:
# 신호등(차량등) 데이터 추출

trlight_car = gpd.GeoDataFrame(trlight_car[ ['loc_cd','geometry']])

In [182]:
# 포인트 데이터를 격자에 할당

temp2 = gpd.sjoin(trlight_car, grid, how='left')

In [183]:
# 격자별 개수를 변수로 생성한 후 칼럼 이름 변경

temp2 = temp2.groupby('gid', as_index=False).count()

temp2 = temp2.rename(columns = {'loc_cd':'trlight_car'})
temp2 = temp2.drop(['geometry', 'index_right'], axis=1)

temp2

           gid  trlight_car
0     다바796081            6
1     다바803077            9
2     다바810181            4
3     다바814180            4
4     다바815165            1
...        ...          ...
2480  다바993162            3
2481  다바995166            1
2482  다바995167            5
2483  다바997166            9
2484  라바013171            6

[2485 rows x 2 columns]

## 3. CCTV

In [184]:
# CCTV 데이터 추출

cctv = gpd.GeoDataFrame(cctv[ ['gu','geometry']])

In [185]:
# 포인트 데이터를 격자에 할당

temp3 = gpd.sjoin(cctv, grid, how='left')

In [186]:
# 격자별 개수를 변수로 생성한 후 칼럼 이름 변경

temp3 = temp3.groupby('gid', as_index=False).count()

temp3 = temp3.rename(columns = {'gu':'cctv'})
temp3 = temp3.drop(['geometry', 'index_right'], axis=1)

temp3

         gid  cctv
0   다바825181     2
1   다바838207     1
2   다바841113     2
3   다바844167     1
4   다바844180     2
..       ...   ...
76  다바942159     2
77  다바948147     1
78  다바948170     2
79  다바960132     2
80  다바964109     2

[81 rows x 2 columns]

## 4. 교통안전표지

In [187]:
# 교통안전표지 데이터 추출

sign_traffic = gpd.GeoDataFrame(sign_traffic[ ['gu','geometry']])

In [188]:
# 포인트 데이터를 격자에 할당

temp4 = gpd.sjoin(sign_traffic, grid, how='left')

In [189]:
# 격자별 개수를 변수로 생성한 후 칼럼 이름 변경

temp4 = temp4.groupby('gid', as_index=False).count()

temp4 = temp4.rename(columns = {'gu':'sign_traffic'})
temp4 = temp4.drop(['geometry', 'index_right'], axis=1)

temp4

           gid  sign_traffic
0     다바779092             0
1     다바780092             6
2     다바781091             1
3     다바782090             2
4     다바783089             1
...        ...           ...
8370  라바035235             2
8371  라바035236             1
8372  라바035237             3
8373  라바036235             1
8374  라바036236             1

[8375 rows x 2 columns]

## > 통합 및 저장

In [190]:
count_var = pd.merge(grid, temp, how='left',on='gid')
count_var = pd.merge(count_var, temp2, how='left',on='gid')
count_var = pd.merge(count_var, temp3, how='left',on='gid')
count_var = pd.merge(count_var, temp4, how='left',on='gid')

count_var.fillna(0, inplace=True)
count_var

,gid,geometry,trlight_pas,trlight_car,cctv,sign_traffic
0,다바866110,"MULTIPOLYGON (((127.35076 36.29622, 127.35076 ...",0.0,0.0,0.0,0.0
1,다바823157,"MULTIPOLYGON (((127.30277 36.33853, 127.30276 ...",3.0,4.0,0.0,14.0
2,다바928260,"MULTIPOLYGON (((127.41967 36.43152, 127.41967 ...",6.0,5.0,0.0,14.0
3,다바931203,"MULTIPOLYGON (((127.42307 36.38013, 127.42307 ...",1.0,3.0,0.0,5.0
4,다바836109,"MULTIPOLYGON (((127.31735 36.29527, 127.31735 ...",2.0,0.0,0.0,6.0
...,...,...,...,...,...,...
54907,다바861065,"MULTIPOLYGON (((127.34527 36.25565, 127.34527 ...",0.0,0.0,0.0,0.0
54908,다바912036,"MULTIPOLYGON (((127.40208 36.22956, 127.40207 ...",0.0,0.0,0.0,0.0
54909,다바867189,"MULTIPOLYGON (((127.35174 36.36745, 127.35174 ...",0.0,0.0,0.0,0.0
54910,다바851062,"MULTIPOLYGON (((127.33415 36.25293, 127.33415 ...",0.0,0.0,0.0,0.0
54911,다바924104,"MULTIPOLYGON (((127.41536 36.29088, 127.41536 ...",0.0,0.0,0.0,0.0

In [191]:
count_var.to_file('data_pre/count_var.geojson', driver='GeoJSON')

-----------------

# 포함여부 변수

    1. 중앙분리대
    2. 안전지대
    
    > 통합 및 저장
    
----------------

## 1. 중앙분리대

In [192]:
grid = acc_cnt.copy()
grid = grid.loc[:, ['gid', 'geometry']]

In [193]:
temp = median_strip.copy()
temp['barrier'] = 1                                  
temp = temp.loc[:, ['geometry', 'barrier']]

jtemp = gpd.sjoin(temp, grid, how='left')
jtemp = jtemp.loc[:, ['gid', 'barrier', 'geometry']]

rtemp = jtemp.groupby('gid', as_index=False).count()
rtemp = rtemp.loc[:, ['gid', 'barrier']]

mtemp = pd.merge(grid, rtemp, on='gid', how='left')
mtemp = mtemp.fillna(0)
mtemp.barrier = mtemp.barrier.astype('int')

barrier = mtemp.loc[:, ['gid', 'barrier']]

## 안전지대

In [194]:
temp = safe_zone.copy()
temp['safe_zone'] = 1                                  
temp = temp.loc[:, ['geometry', 'safe_zone']]

jtemp = gpd.sjoin(temp, grid, how='left')
jtemp = jtemp.loc[:, ['gid', 'safe_zone', 'geometry']]

rtemp = jtemp.groupby('gid', as_index=False).count()
rtemp = rtemp.loc[:, ['gid', 'safe_zone']]

mtemp = pd.merge(grid, rtemp, on='gid', how='left')
mtemp = mtemp.fillna(0)
mtemp.safe_zone = mtemp.safe_zone.astype('int')

safe_zone = mtemp.loc[:, ['gid', 'safe_zone']]

## > 통합 및 저장

In [195]:
binary_var = pd.merge(grid, barrier, on='gid', how='left')
binary_var = pd.merge(binary_var, safe_zone, on='gid', how='left')

binary_var

,gid,geometry,barrier,safe_zone
0,다바866110,"MULTIPOLYGON (((127.35076 36.29622, 127.35076 ...",0,0
1,다바823157,"MULTIPOLYGON (((127.30277 36.33853, 127.30276 ...",0,2
2,다바928260,"MULTIPOLYGON (((127.41967 36.43152, 127.41967 ...",0,0
3,다바931203,"MULTIPOLYGON (((127.42307 36.38013, 127.42307 ...",0,1
4,다바836109,"MULTIPOLYGON (((127.31735 36.29527, 127.31735 ...",0,0
...,...,...,...,...
54907,다바861065,"MULTIPOLYGON (((127.34527 36.25565, 127.34527 ...",0,0
54908,다바912036,"MULTIPOLYGON (((127.40208 36.22956, 127.40207 ...",0,0
54909,다바867189,"MULTIPOLYGON (((127.35174 36.36745, 127.35174 ...",0,0
54910,다바851062,"MULTIPOLYGON (((127.33415 36.25293, 127.33415 ...",0,0
54911,다바924104,"MULTIPOLYGON (((127.41536 36.29088, 127.41536 ...",0,0

In [196]:
binary_var.to_file('data_pre/binary_var.geojson', driver='GeoJSON')

-----------------

# 인구데이터

----------------

In [197]:
population = pd.merge(grid,pop_all,how='left')                                    #총인구수
population = population.rename(columns={'val' : 'pop_all'})                    

population = pd.merge(population, pop_sen,how='left')                             #고령인구
population = population.rename(columns={'val' : 'pop_sen'})
 
population = pd.merge(population, pop_prd,how='left')                             #생산가능 인구
population = population.rename(columns={'val' : 'pop_prd'})                     

population = pd.merge(population,pop_chd,how='left')                              #유소년
population = population.rename(columns={'val' : 'pop_chd'})

population = population.fillna(0)
population

,gid,geometry,pop_all,pop_sen,pop_prd,pop_chd
0,다바866110,"MULTIPOLYGON (((127.35076 36.29622, 127.35076 ...",13.0,0.0,10.0,0.0
1,다바823157,"MULTIPOLYGON (((127.30277 36.33853, 127.30276 ...",267.0,25.0,198.0,44.0
2,다바928260,"MULTIPOLYGON (((127.41967 36.43152, 127.41967 ...",78.0,0.0,65.0,8.0
3,다바931203,"MULTIPOLYGON (((127.42307 36.38013, 127.42307 ...",0.0,0.0,0.0,0.0
4,다바836109,"MULTIPOLYGON (((127.31735 36.29527, 127.31735 ...",396.0,28.0,339.0,29.0
...,...,...,...,...,...,...
54907,다바861065,"MULTIPOLYGON (((127.34527 36.25565, 127.34527 ...",0.0,0.0,0.0,0.0
54908,다바912036,"MULTIPOLYGON (((127.40208 36.22956, 127.40207 ...",0.0,0.0,0.0,0.0
54909,다바867189,"MULTIPOLYGON (((127.35174 36.36745, 127.35174 ...",0.0,0.0,0.0,0.0
54910,다바851062,"MULTIPOLYGON (((127.33415 36.25293, 127.33415 ...",0.0,0.0,0.0,0.0
54911,다바924104,"MULTIPOLYGON (((127.41536 36.29088, 127.41536 ...",0.0,0.0,0.0,0.0

In [198]:
population.to_file('data_pre/population.geojson', driver='GeoJSON')

---------------

# 차량등록현황

----------------------

In [199]:
car_reg = pd.merge(grid,car,how='left')
car_reg = car_reg.drop('geometry', axis=1)

In [200]:
car_reg.to_csv('data_pre/car_reg.csv')

-----------------

# 외부데이터 수집

    1. 카카오API 데이터 수집
    2. 각 데이터를 격자별 통합
    
    > 통합 및 저장
    
----------------

## 1. 카카오 API 데이터 수집

> 카카오api를 활용하여 외부데이터를 수집한다 ('카카오 API 사용 데이터 저장' 파일 사용)

## 2. 각 데이터 격자별 통합

In [202]:
subway_cnt = pd.read_csv('subway_cnt.csv', index_col = 0)
parkinglot_cnt = pd.read_csv('parkinglot_cnt.csv', index_col = 0)
school_cnt = pd.read_csv('school_cnt.csv', index_col = 0)
ssm_cnt = pd.read_csv('ssm_cnt.csv', index_col = 0)
restaurant_cnt = pd.read_csv('restaurant_cnt.csv', index_col = 0)

## > 통합 및 저장

In [203]:
facil = pd.merge(grid, subway_cnt, on='gid', how='left')
facil = pd.merge(facil, parkinglot_cnt, on='gid', how='left')
facil = pd.merge(facil, school_cnt, on='gid', how='left')
facil = pd.merge(facil, ssm_cnt, on='gid', how='left')
facil = pd.merge(facil, restaurant_cnt, on='gid', how='left')

In [204]:
facil = facil.drop('geometry', axis=1)

In [205]:
facil.to_csv('facil.csv')

# 최종 통합

In [206]:
full_data = pd.merge(type_of_accident, traffic_var, on='gid', how='left')
full_data = pd.merge(full_data, building_var, on='gid', how='left')
full_data = pd.merge(full_data, area_var, on='gid', how='left')
full_data = pd.merge(full_data, count_var, on='gid', how='left')
full_data = pd.merge(full_data, binary_var, on='gid', how='left')
full_data = pd.merge(full_data, population, on='gid', how='left')
full_data = pd.merge(full_data, car_reg, on='gid', how='left')
full_data = pd.merge(full_data, facil, on='gid', how='left')

full_data = full_data.drop(['geometry_y', 'geometry_x'],axis=1)

full_data = full_data.rename( columns = {'barrier_x' : 'barrier_road', 'barrier_y' : 'barrier'})
full_data = full_data.drop('barrier', axis=1)
full_data.columns

Index(['gid', 'acci_cnt', 'dead', 'serious', 'minor', 'injury', 'dead_ctc',
       'serious_ctc', 'minor_ctc', 'injury_ctc', 'dead_cth', 'serious_cth',
       'minor_cth', 'injury_cth', 'dead_cal', 'serious_cal', 'minor_cal',
       'injury_cal', 'car_car', 'car_human', 'car_only', 'attack_under_10 ',
       'attack_10', 'attack_20', 'attack_30', 'attack_40', 'attack_50',
       'attack_60', 'attack_70', 'attack_80', 'attack_90', 'attack_age_noname',
       'attack_age_unclassified', 'victim_under_10', 'victim_10', 'victim_20',
       'victim_30', 'victim_40', 'victim_50', 'victim_60', 'victim_70',
       'victim_80', 'victim_90', 'victim_age_noname',
       'victim_age_unclassified', 'traffic_total_sum_inter',
       'traffic_small_sum_inter', 'traffic_bus_sum_inter',
       'traffic_big_sum_inter', 'oneway', 'car_lane', 'barrier_road',
       'speed_0', 'speed_30', 'speed_40', 'speed_50', 'speed_60', 'speed_70',
       'speed_80', 'speed_90', 'speed_100', 'speed_110', 'express', 'general',
       'width_1', 'width_2', 'width_3', 'width_4', 'width_5', 'freq_max_inter',
       'time_max_inter', 'intersects', 'TURN_P', 'building_tot', 'house',
       'office', 'other', 'crosswalk_cnt', 'crosswalk_ar', 'noparking_ar',
       'trlight_pas', 'trlight_car', 'cctv', 'sign_traffic', 'safe_zone',
       'geometry', 'pop_all', 'pop_sen', 'pop_prd', 'pop_chd', 'cars_cnt',
       'subway_cnt', 'parkinglot_cnt', 'school_cnt', 'ssm_cnt',
       'restaurant_cnt'],
      dtype='object')

In [ ]:
full_data.to_file('full_data.geojson', driver='GeoJSON')